rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      let userDoc = get(/databases/$(database)/documents/users/$(request.auth.uid));
      return userDoc.data.role == 'admin';
    }

    // Users can read and write their own user document
    match /users/{userId} {
      allow read: if request.auth != null;
      allow create, write: if request.auth != null && request.auth.uid == userId;
      // Admin can read/write any user and change role
      allow read, write: if request.auth != null && isAdmin();
    }

    // Users can create and read/write their own orders
    match /orders/{orderId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
      // Admin can read/write/delete any order
      allow read, write, delete: if request.auth != null && isAdmin();
    }
  }
}